/* Config global */
* {
   padding: 0;
   margin: 0;
   box-sizing: content-box;
}

body {
   font-family: 'Open Sans', sans-serif;

}

#body-container {
   display: grid;
   grid-template-columns: 100px 1fr; /* Menu lateral 130px de ancho */
   grid-template-rows: 100vh; /* Altura al 100% de pantalla */
   grid-area: 'menu', 'content';
}

/* Menu lateral */
#menu {
   background: #FF512F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


   display: flex;
   flex-direction: column;

}

.menu--item-container {
   color: white;
   padding: 1.25em 0 1.25em 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1em;
   font-weight: 800;
}

.menu-icon {
   font-size: 2.5em;
}

.menu--label {
   text-align: center;
   
}
.profile-pic {
   width: 75px;
   height: 75px;
   position: relative;
   overflow: hidden;
   border-radius: 50%;
   border: solid 4pt #FFF;
}

.profile-pic img {
   margin: 0 auto;
   height: 100%;
   width: 100%;
}

#last-item{
   margin-top: auto;
   padding-bottom: 0;
}

.d-flex {
	display: -ms-flexbox ;
	display: flex ;
}
.card-columns .card {
   margin: 35px 70px 50px 90px;
}
.card-deck {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}
.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}
.alert-light {
	color: #818182;
	background-color: #fefefe;
	border-color: #fdfdfe;
}
.shadow {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) ;
}
.border {
	border: 1px solid #dee2e6 ;
}

/* Content */

#content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.search-container {
   margin: .75em;
   font-size: 1.5em;
}

.search-container input {
   font-size: 1.25rem;
   margin-right: .25em;
}

.table-container {
   margin-top: 2em;
}

.main-table {
   width: 100%;
   table-layout: fixed;
}

.main-table td {
   text-align: center;
}

.main-table i {
   padding: .5em;
}