/* Config global */
* {
   padding: 0;
   margin: 0;
   box-sizing: content-box;
}

body {
   font-family: 'Open Sans', sans-serif;

}

#body-container {
   display: grid;
   grid-template-columns: 130px 1fr; /* Menu lateral 130px de ancho */
   grid-template-rows: 100vh; /* Altura al 100% de pantalla */
   grid-area: 'menu', 'content';
}

/* Menu lateral */
#menu {
   background: #0F2027;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   display: flex;
   flex-direction: column;

}

.menu--item-container {
   color: white;
   padding: 1.25em 0 1.25em 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1.15em;
   font-weight: 800;
}

.menu-icon {
   font-size: 2.5em;
}

.menu--label {
   text-align: center;
   
}
.profile-pic {
   width: 90px;
   height: 90px;
   position: relative;
   overflow: hidden;
   border-radius: 50%;
   border: solid 4pt #FFF;
}

.profile-pic img {
   display: inline;
   margin: 0 auto;
   height: 100%;
   width: 100%;
}

#last-item{
   margin-top: auto;
   padding-bottom: 0;
}