body{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orangeSquare{
    position: absolute;
    width: 411px;
    height: 365px;
    left: 0px;
    top: 0px;

    background: #ED7242;        
}

.passwordMessage{
    position: absolute;
    width: 287px;
    height: 150px;
    left: 60px;
    top: 77px;

    font-family: Fjalla One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.23em;

    color: #FFFFFF;
}

.emailRectangle{
    position: absolute;
    width: 292px;
    height: 238px;
    left: 57px;
    top: 297px;

    background: #FFFFFF;
    box-shadow: 0px 15px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.emailMessage{
    position: absolute;
    width: 172px;
    height: 46px;
    left: 119px;
    top: 324px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #000000;
}

.emailText{
    position: absolute;
    width: 168px;
    height: 23px;
    left: 91px;
    top: 392px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #000000;    
}

.emailBox{
    position: absolute;
    width: 245px;
    height: 30px;
    left: 83px;
    top: 424px;
    
    background: rgba(138, 133, 133, 0.11);
    border-radius: 10px;
}

.acceptBox{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 140px;
    top: 479px;
    
    background: rgba(237, 114, 66, 0.9);
    border-radius: 10px;
}

.acceptText{
    position: absolute;
    width: 63px;
    height: 18px;
    left: 172px;
    top: 485px;

    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}