body{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background: #DD3030;
}

.perfilText{
    position: absolute;
    width: 362px;
    height: 596px;
    left: 23px;
    top: 50px;

    background: #FFFBFB;
    border-radius: 30px;
}

.imagenPerfil{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 130px;
    top: 75px;

    background: #C4C4C4;
    border-radius: 20px;    
}

.nombre{
    position: absolute;
    width: 223px;
    height: 35px;
    left: 94px;
    top: 254px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.05em;
    
    color: #000000;
}

.tipoText{
    position: absolute;
    width: 100px;
    height: 18px;
    left: 76px;
    top: 318px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.05em;
    
    color: rgba(0, 0, 0, 0.6);
    
}

.tipoInput{
    position: absolute;
    width: 55px;
    height: 18px;
    left: 78px;
    top: 336px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.1em;
    
    color: #000000;
}

.nacimientoText{
    position: absolute;
    width: 117px;
    height: 18px;
    left: 76px;
    top: 387px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.05em;
    
    color: rgba(0, 0, 0, 0.6);
}

.nacimientoInput{
    position: absolute;
    width: 150px;
    height: 18px;
    left: 58px;
    top: 405px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.1em;
    
    color: #000000;
}

.correoText{
    position: absolute;
    width: 118px;
    height: 18px;
    left: 76px;
    top: 456px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.05em;
    
    color: rgba(0, 0, 0, 0.6);
}

.correoInput{
    position: absolute;
    width: 142px;
    height: 18px;
    left: 76px;
    top: 474px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.1em;
    
    color: #000000;
}

.telText{
    position: absolute;
    width: 54px;
    height: 18px;
    left: 76px;
    top: 525px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.05em;
    
    color: rgba(0, 0, 0, 0.6);
}

.telInput{
    position: absolute;
    width: 63px;
    height: 18px;
    left: 76px;
    top: 543px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.1em;
    
    color: #000000;
    
}

.estacionamientoText{
    position: absolute;
    width: 112px;
    height: 18px;
    left: 76px;
    top: 594px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.05em;
    
    color: rgba(0, 0, 0, 0.6);
}

.estacionamientoInput{
    position: absolute;
    width: 164px;
    height: 18px;
    left: 78px;
    top: 612px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.1em;
    
    color: #000000;
}

.contraseñaOlvidada{
    position: absolute;
    width: 179px;
    height: 18px;
    left: 115px;
    top: 663px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: center;
    text-decoration-line: underline;
    
    color: #000000;
}

.navegacionBox{
    position: absolute;
    width: 411px;
    height: 108px;
    left: 0px;
    top: 656px;
    
    background: #FFFFFF;
    box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.plusButton{
    position: absolute;
    width: 59px;
    height: 60px;
    left: 175px;
    top: 663px;
    
    background: #71C5BB;
    border: 5px solid #F4F4F4;
    box-sizing: border-box;

    border-radius: 50%;
}

.plusIcon{
    position: absolute;
    width: 27px;
    height: 58px;
    left: 191px;
    top: 659px;
    
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    
    color: #FFFFFF;
}

.casa{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 677px;
}

.auto{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 108px;
    top: 677px;
}

.perfil{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 262px;
    top: 677px;
}

.config{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 337px;
    top: 677px;
}